.item {
  padding: 15px 20px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);

  border: 1px solid rgb(103, 58, 183);
  border-radius: 8px;
  transition: .3s;

  &:hover {
    background: rgba(103, 58, 183, 0.1);
  }
}

.number {
  font-size: 20px;
}

.title {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.tasks {
  display: flex;
  justify-content: center;
}

.buttons {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.button {

  &:not(:first-child) {
    margin-left: 10px;
  }
}