.card {
  height: 100%;
  border: 1px solid transparent;
  transition: .3s;

  &.first {
    border-color: red;
  }
  &.second {
    border-color: blue;
  }
  &.third {
    border-color: orange;
  }
  &.fourth {
    border-color: green;
  }
}

.item {

  &:not(:first-child) {
    margin-top: 10px;
  }

  p {
    margin-bottom: 0;
  }

  &.checked {
    p {
      text-decoration: line-through;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.head {
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}