.form {
  padding: 30px;
}

.text {
  margin-top: 20px;
  font-size: 18px;
}

.list {
  margin-top: 20px;
}

.item {
  width: 400px;
  

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.row {
  display: flex;
  align-items: flex-end;
} 

.index {
  margin-right: 15px;
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}