.label {
  padding-bottom: 10px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid lightblue;
}

.id {
  margin-right: 15px;
  font-size: 25px;
}

.checkbox {
  width: 40px;
  height: 40px;
}

.text {
  margin-left: 15px;
  font-size: 20px;
}

.buttons {
  margin-left: auto;
  display: flex;
}

.button {


  &:not(:first-child) {
    margin-left: 15px;
  }
}

.input {
  margin: 0 30px;
  width: 100%;
  pointer-events: none;

  &.active {
    pointer-events: all;
  }

  input {
    padding: 5px 10px;
    font-size: 20px;
  }

  label {
    border: none;
  }
}