body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin-top: 30px;
  text-align: center;
}

.tasks-list {
  margin-top: 40px;
}

.tasks-list__grid {
  display: grid;
  row-gap: 40px;
  column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.myInput {
  padding: 5px 3px;

  font-size: 18px;

  border-bottom: 1px solid black;
}

.error-message {
  font-size: 14px;
  color: red;
}